.container {
  margin: var(--size-m);
  width: 800px;
  height: 450px;
  border: var(--size-xs) solid var(--colour-secondary);
  border-radius: var(--size-xs);
  display: flex;
  justify-content: center;
  align-items: center;
}

.imageStatus {
  font-size: var(--size-l);
}

.stageContainer {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
